# chinstrap configuration

## directory containing pkgbuilds
#build_dir="$HOME/pkgbuilds"

## directory containing chroot
#chroot_dir="$build_dir/.chroot"

## custom pacman.conf
#pacman_conf="$build_dir/.etc/pacman.conf"

## custom makepkg.conf
#makepkg_conf="$build_dir/.etc/makepkg.conf"

## base URL to AUR
#aur_url="https://aur.archlinux.org"

## AUR RPC URL
#aur_rpc="$aur_url/rpc?v=5&"

## GPG key to sign packages (required)
#gpg_key="1234567890ABCDEF"

## login on remote host
#repo_login="user@host.domain.tld"

## path on remote host
#repo_dir="/srv/http/repo/$USER/x86_64"

## auto push on build
#auto_sync=true
